html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#title, .tab-content {
  text-align: center;
}

.controls {
  display: flex;
  width: 100%;
  height: 15%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 2;
}

.btn {
  background-color: rgb(247, 247, 247);
  margin: 1% 2% 2% 2%;
}

.big-button {
  display: inline-block;
  width: 40%;
  margin: 2%;
  cursor: pointer;
  text-align: center;
}

#big-button-holder {
  display: block;
}

#two-button-holder {
  display: none;
}

.two-button {
  position: relative;
  flex: 50%;
  margin: 2%;
  cursor: pointer;
  text-align: center;
}

.button-row {
  height: 50%;
}

.button-col {
  height: 35vh;
  width: 100%;
  display: flex;
}

#top-left-button {
  background-color: red;
}

#top-right-button {
  background-color: blue;
}

#bottom-left-button {
  background-color: green;
}

#bottom-right-button {
  background-color: pink;
}

input {
  font: 1em/1.5em Arial, Helvetica, sans-serif;
  font-size: 20px !important;
  font-weight: 550 !important;
}

.inline {
  display: inline-block;
}

.button-text {
  padding: 4% 0 3% 0;
  color: white;
  font-size: 35px;
}

.two-button-text {
  color: white;
  font-size: 45px;
  width: 50%;
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#bottom-button {
  width: 85%;
  background-color: purple;
}

.recording-holder {
  margin-top: 1%;
  margin-bottom: 2%;
}

.audio-control {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.audio-control:hover {
  cursor: pointer;
}

.audio-control-holder {
  display: inline-block;
}